.error {
  padding-top: 9.5rem;
  color: #808080;

  @include breakpoint(mobile) {
    padding-top: 8.8rem;
    text-align: center;
  }

  &__title {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 6rem;

    @include breakpoint(laptop) {
      font-size: 3.8rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 3.4rem;
    }

    @include breakpoint(mobile) {
      max-width: 17rem;
      margin: 0 auto 3rem;

      font-size: 3rem;
      line-height: 3.4rem;
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 120%;
    margin-bottom: 3rem;

    @include breakpoint(laptop) {
      margin-bottom: 5rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 2.4rem;
    }

    @include breakpoint(mobile) {
      margin-bottom: 8.4rem;
      font-size: 2rem;
    }
  }

  &__text {
    max-width: 48.5rem;
    margin-bottom: 11rem;

    font-weight: 400;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0.01em;

    @include breakpoint(laptop) {
      margin-bottom: 10rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 9rem;
    }

    @include breakpoint(mobile) {
      max-width: 28rem;
      margin: 0 auto;
      margin-bottom: 8.2rem;

      font-size: 1.6rem;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 2.7rem;
    line-height: 100%;
    color: #000;

    @include breakpoint(small-tablet) {
      font-size: 2.4rem;
    }

    @include breakpoint(mobile) {
      font-size: 2rem;
    }
  }
}