.footer {
  padding: 1.6rem 0;
  background-color: rgba(255, 255, 255, 0.3);

  @extend %fs-t2;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint(tablet) {
      gap: 2.6rem 1rem;
    }
  }

  &__confidence {
    margin-right: auto;
    margin-left: 12.75%;

    @include breakpoint(tablet) {
      order: 1;
      width: 100%;
      margin-left: auto;

      text-align: center;
    }
  }

  &__developer {
    display: flex;
    gap: 1rem;

    font-size: 1.4rem;

    span {
      padding-top: 0.2rem;
      @include breakpoint(mobile) {
        display: none;
      }
    }

    img {
      width: 7.7rem;
      height: 1.9rem;
      margin-top: 0.2rem;
    }
  }

  &__bottom {
    margin-top: 1.6rem;

    p {
      max-width: 90rem;

      font-size: 1.5rem;
      line-height: 1.4;
      color: grey;

      @include breakpoint(mobile) {
        font-size: 1rem;
      }

      a {
        display: inline-block;
        margin-left: 0.4rem;
      }
    }
  }
}