.footer {
  padding: 5rem 0;
  border-top: 1px solid var(--border-color);

  @extend %fs-t2;

  @include breakpoint(laptop) {
    padding: 3.5rem 0;
  }

  @include breakpoint(small-tablet) {
    padding: 2.5rem 0;
  }

  @include breakpoint(mobile) {
    padding: 2rem 0;
    font-size: 1.4rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint(tablet) {
      gap: 2.6rem 1rem;
    }
  }

  &__confidence {
    margin-right: auto;
    margin-left: 12.75%;

    @include breakpoint(tablet) {
      order: 1;
      width: 100%;
      margin-left: auto;

      text-align: center;
    }
  }

  &__developer {
    display: flex;
    gap: 1rem;

    span {
      @include breakpoint(mobile) {
        display: none;
      }
    }

    img {
      width: 7.7rem;
      height: 1.9rem;
      margin-top: 0.2rem;
    }
  }
}