.header-mobile-nav {
  display: none;

  @include breakpoint(small-tablet) {
    position: absolute;
    left: 0;
    right: 0;
    top: -100%;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: space-between;
    padding: 4rem 2rem;
    padding-top: calc(var(--header-height) + 4rem);
    height: 100%;

    background-color: #F2F2F2;

    transition: 0.5s ease;
  }

  &.active {
    top: 0;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4rem;

    border: 0;
  }

  &__menu-item {
    position: relative;
    padding: 0;
  }

  &__menu-link {
    opacity: 1;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.2;
  }

  &__socials {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;

    svg {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}