.intro {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - var(--header-height));
  padding-bottom: 4rem;

  color: #fff;

  @include breakpoint(small-tablet) {
    padding-bottom: 0;
  }

  .swiper {
    height: 100%;

    @include breakpoint(small-tablet) {
      position: relative;
      left: -2rem;

      width: 100vw;
    }
  }

  &__slide {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 4rem 4rem 5.8rem;

    @include breakpoint(small-tablet) {
      align-items: center;
      padding: 1.7rem 1rem;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: normal;
    color: var(--pale-white);

    @include breakpoint(small-tablet) {
      width: 100%;
      min-height: 9rem;
      padding: 2.2rem;

      background-color: #fff;

      text-align: center;
      color: #000;
    }

    @include breakpoint(mobile) {
      display: none;
    }
  }

  .js-slider-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3.8rem;
    right: 3.8rem;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .intro__button-next, .intro__button-prev {
      position: static;
      transform: none;

      width: auto;
      height: auto;
      margin-top: 0;
    }

    .intro__button-prev {
      transform: rotate(180deg);
    }
  }

  .swiper-pagination {
    @include breakpoint(small-tablet) {
      z-index: 2;
      right: 50%;
      transform: translateX(50%);
      bottom: 3.8rem !important;
    }

    @include breakpoint(mobile) {
      display: none;
    }
  }

  .slider-bullet {
    @include breakpoint(small-tablet) {
      background-color: #383838;
    }
  }
}