.services {
  padding-bottom: 8rem;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 2.4rem;
  }

  &__body {
    grid-column: 6 / -1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 92.4rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    @extend %fs-h2;
  }

}