.side-menu {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include breakpoint(small-tablet) {
    display: none;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__nav-item {
    @extend %fs-t2;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }
  }
}