.socials {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;

  &__link {
    color: #383838;

    &:hover {
      opacity: 1;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  svg {
    width: 3rem;
    height: 3rem;
  }
}