<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <span class="footer__copyright">2011–2022 © TMT</span>
            <a class="footer__confidence" href="#">Политика конфиденциальности</a>
            <a class="footer__developer" href="#">
                <span>Разработка сайта</span>
                <img src="img/MarkWeber.svg" alt="Марк Вебер">
            </a>
        </div>
    </div>
</footer>