<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__logo-block">
                {{>logo img="img/logo-light.svg"}}
                <span class="footer__copyright">Глобал Молл © 2022</span>
                <a class="footer__policy" href="/">Политика конфиденциальности</a>
                <a class="footer__policy" href="/">Обработка персональных данных</a>
            </div>
            <div class="footer__links-block">
                <nav class="footer__menu">
                    <ul>
                        <li><a href="/">Торговый центр</a></li>
                        <li><a href="/">Арендаторам</a></li>
                        <li><a href="/">Реклама в ТЦ</a></li>
                        <li><a href="/">Вакансии</a></li>
                        <li><a href="/">Контакты</a></li>
                    </ul>
                </nav>
                <address class="footer__address">м. Автозаводская, ул.Ленинская Слобода, д. 26, стр.2</address>
                <div class="footer__working-time">
                    <span>ежедневно 10:00 - 22:00</span>
                    <span>супермаркет 24 часа</span>
                </div>
                <div class="footer__contacts">
                    <a href="tel:+74951919797" class="footer__tel">+7 (495) 191-97-97</a>
                    <a href="mailto:info@globalmall.ru" class="footer__email">info@globalmall.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>