<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__burger">
                <span></span>
            </div>
            <a class="header__logo" href="/">
                <img src="img/logo.svg" alt="Логотип ТМТ">
            </a>
            <nav class="header__nav">
                <ul class="header__menu">
                    {{#each menu }}
                        <li class="header__menu-item{{#if active }} active{{/if}}">
                            <a class="header__menu-link" href="{{this.link}}">{{this.name}}</a>
                        </li>
                    {{/each}}
                </ul>
                <ul class="header__socials">
                    {{#each socials }}
                        <li class="header__socials-item">
                            <a class="header__socials-link" href="{{this.link}}">
                                <svg>
                                    <use xlink:href="#{{this.svg}}"></use>
                                </svg>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </nav>
        </div>
    </div>
</header>