{{#extend "layout"}}
    {{#content "main"}}

        <section class="contacts">
            <div class="container">
                <div class="contacts__wrapper">
                    <nav class="contacts__info">
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-title">Адрес</h3>
                            <div class="contacts__info-text">
                                <address>
                                    420012,&nbsp;г. Казань, ул.&nbsp;Ульянова-Ленина, дом&nbsp;67/2
                                </address>
                            </div>
                        </div>
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-title">Время работы</h3>
                            <div class="contacts__info-time">
                                <span>
                                 ПН-ПТ  08:00&#8209;17:00 <br> СБ-ВС Выходной
                                </span>
                            </div>
                        </div>
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-title">Телефон</h3>
                            <div class="contacts__info-phones">
                                <div class="contacts__info-link">
                                    <a href="tel:+78432646706">+7 843 264 67 06</a>
                                </div>
                                <div class="contacts__info-link">
                                    <a href="tel:+78432642178">+7 843 264 21 78</a>
                                </div>
                            </div>
                        </div>
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-title">Эл.Почта</h3>
                            <div class="contacts__info-link">
                                <a href="mailto:tmt-gv@mail.ru">tmt-gv@mail.ru</a>
                            </div>
                        </div>
                    </nav>
                    <div class="contacts__body">
                        <div class="contacts__map" id="map" data-api="ваш API-ключ" data-marker="img/placemarker.svg" data-coordinates="55.787535275464855, 49.13822021074417" data-zoom="18" data-hint="офис ТМТ">

                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}