{{#extend "layout"}}
    {{#content "main"}}

        <section class="contacts">
            <div class="container">
                <div class="contacts__wrapper">
                    <nav class="contacts__info">
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-title">Адрес</h3>
                            <address class="contacts__info-text">
                                420012, г. Казань, <br> ул. Ульянова-Ленина, <br> дом 67/2
                            </address>
                        </div>
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-title">Время работы</h3>
                            <span class="contacts__info-time">
                                ПН-ПТ  08:00-17:00 <br> СБ-ВС Выходной
                            </span>
                        </div>
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-title">Телефон</h3>
                            <div class="contacts__info-phones">
                                <a class="contacts__info-link" href="tel:+78432646706">+7 843 264 67 06</a>
                                <a class="contacts__info-link" href="tel:+78432642178">+7 843 264 21 78</a>
                            </div>
                        </div>
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-title">Эл.Почта</h3>
                            <a class="contacts__info-link" href="mailto:tmt-gv@mail.ru">tmt-gv@mail.ru</a>
                        </div>
                    </nav>
                    <div class="contacts__body">
                        <div class="contacts__map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2446.3157494294906!2d49.137993685598104!3d55.788351685426136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1653570468037!5m2!1sru!2sru" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}