{{#extend "layout"}}
    {{#content "main"}}

        <section class="contacts">
            <div class="container">
                <div class="contacts__wrapper">
                    <nav class="contacts__info">
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-title">Адрес</h3>
                            <address class="contacts__info-text">
                                420012,&nbsp;г. Казань, ул.&nbsp;Ульянова-Ленина, дом&nbsp;67/2
                            </address>
                        </div>
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-title">Время работы</h3>
                            <span class="contacts__info-time">
                                ПН-ПТ  08:00-17:00 <br> СБ-ВС Выходной
                            </span>
                        </div>
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-title">Телефон</h3>
                            <div class="contacts__info-phones">
                                <a class="contacts__info-link" href="tel:+78432646706">+7 843 264 67 06</a>
                                <a class="contacts__info-link" href="tel:+78432642178">+7 843 264 21 78</a>
                            </div>
                        </div>
                        <div class="contacts__info-block">
                            <h3 class="contacts__info-title">Эл.Почта</h3>
                            <a class="contacts__info-link" href="mailto:tmt-gv@mail.ru">tmt-gv@mail.ru</a>
                        </div>
                    </nav>
                    <div class="contacts__body">
                        <div class="contacts__map" id="map-test" data-api="ваш API-ключ">

                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}