{{#extend "layout"}}
    {{#content "main"}}

        <section class="error">
            <div class="narrow-container">
                <h1 class="error__title">Страница не найдена</h1>
                <p class="error__desc">Ошибка 404</p>
                <p class="error__text">
                    Возможно, страница была удалена или никогда не существовала
                    Проверьте правильность адреса
                </p>
                <a class="error__link" href="index.html">Вернуться на главную</a>
            </div>
        </section>

    {{/content}}
{{/extend}}