{{#extend "layout"}}
{{#content "main"}}

<section class="intro">
    <div class="container">
        <h1 class="visually-hidden">Проекты</h1>
        <div class="swiper js-init-slider" data-loop="true">
            <div class="swiper-wrapper">
                <div class="intro__slide swiper-slide">
                    <img class="intro__img" src="img/intro-1.jpg" alt="Фото ЖК">
                    <h2 class="intro__title">ЖК «Катановский»</h2>
                </div>
                <div class="intro__slide swiper-slide">
                    <img class="intro__img" src="img/intro-1.jpg" alt="Фото ЖК">
                    <h2 class="intro__title">ЖК «Катановский»</h2>
                </div>
                <div class="intro__slide swiper-slide">
                    <img class="intro__img" src="img/intro-1.jpg" alt="Фото ЖК">
                    <h2 class="intro__title">ЖК «Катановский»</h2>
                </div>
                <div class="intro__slide swiper-slide">
                    <img class="intro__img" src="img/intro-1.jpg" alt="Фото ЖК">
                    <h2 class="intro__title">ЖК «Катановский»</h2>
                </div>
            </div>
            <div class="js-slider-navigation">
                <button class="intro__button-prev swiper-button-prev js-prev-slide">
                    <svg>
                        <use xlink:href="#arrow-icon"></use>
                    </svg>
                </button>
                <button class="intro__button-next swiper-button-next js-next-slide">
                    <svg>
                        <use xlink:href="#arrow-icon"></use>
                    </svg>
                </button>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}