{{#extend "layout"}}
    {{#content "main"}}

        <section class="portfolio">
            <div class="container">
                <div class="portfolio__wrapper">
                    <nav class="portfolio__nav">
                        <h1 class="portfolio__title main-title">Портфолио</h1>
                        <ul class="portfolio__nav-list">
                            {{#each portfolioNav }}
                                <li class="portfolio__nav-item{{#if this.active }} active{{/if}}">
                                    <a href="#">{{this.name}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </nav>
                    <div class="portfolio__body">
                        <ul class="portfolio__list">
                            {{#each portfolio }}
                                <li class="portfolio__item">
                                    <a class="portfolio__link" href="#">
                                        <img src="{{this.img}}" alt="Проект">
                                        <h3 class="portfolio__description">{{this.description}}</h3>
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}