{{#extend "layout"}}
{{#content "main"}}

<section class="section">
    <div class="container">
      <ul>
        <li><a href="#accordions">Аккордионы</a></li>
        <li><a href="#text">Текстовый контейнер</a></li>
        <li><a href="#menu">Меню</a></li>
        <li><a href="#logo">Логотип</a></li>
        <li><a href="#socials">Социалки</a></li>
      </ul>
    </div>
</section>

<section class="section" id="accordions">
    <div class="container">
        <h2 class="section-title">Аккордионы</h2>
        {{>accordion}}
        {{>accordion}}
        {{>accordion}}
    </div>
</section>

<section class="section" id="text">
    <div class="container">
        <h2 class="section-title">Текстовый контейнер</h2>
        
        <div class="editable-text-container">
            <h1>Lorem, ipsum dolor.</h1>
            <h2>Lorem, ipsum dolor.</h2>
            <h3>Lorem, ipsum dolor.</h3>
            <h4>Lorem, ipsum dolor.</h4>
            <h5>Lorem, ipsum dolor.</h5>
            <h6>Lorem, ipsum dolor.</h6>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, expedita?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, natus. Est, dolore nihil pariatur blanditiis ea ipsam officiis? Obcaecati, velit?</p>
            <blockquote>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aliquam? Facilis voluptas laudantium vitae nam iure asperiores voluptatem!
            </blockquote>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor deserunt deleniti, eum animi, dicta vitae iste odio pariatur eligendi commodi harum dolore amet natus libero, officia magni recusandae cumque officiis?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ex aperiam nostrum optio minus. <b>Atque soluta</b>, distinctio, itaque fuga nobis natus est ullam sapiente modi voluptatibus impedit? <a href="#">Lorem, ipsum.</a> Iure quas, rem minima deleniti modi harum excepturi illum, impedit quis fugiat magnam.</p>

            <hr>
            <a href="#">Lorem, ipsum.</a>
            <hr>

            <img src="https://via.placeholder.com/800x600" alt="image">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/7CoSTSLaN4M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <ol>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquid eveniet explicabo quae, porro unde.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquid eveniet explicabo quae, porro unde.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquid eveniet explicabo quae, porro unde.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquid eveniet explicabo quae, porro unde.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquid eveniet explicabo quae, porro unde.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquid eveniet explicabo quae, porro unde.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquid eveniet explicabo quae, porro unde.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquid eveniet explicabo quae, porro unde.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquid eveniet explicabo quae, porro unde.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquid eveniet explicabo quae, porro unde.</li>
            </ol>

            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquid eveniet explicabo quae, porro unde.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquid eveniet explicabo quae, porro unde.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquid eveniet explicabo quae, porro unde.</li>
            </ul>

            <table>
                <tr>
                    <th>Lorem.</th>
                    <th>Lorem, ipsum.</th>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, fugit.</td>
                    <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit quidem necessitatibus quos id ipsam modi earum harum voluptatum tempora dolorum!</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                </tr>
            </table>
            
        </div>
    </div>
</section>

<section class="section" id="menu">
    <div class="container">
        <h2 class="section-title">Меню</h2>
        {{>menu}}
    </div>
</section>

<section class="section" id="logo">
    <div class="container">
        <h2 class="section-title">Логотип</h2>
        {{>logo}}
    </div>
</section>

<section class="section" id="socials">
    <div class="container">
        <h2 class="section-title">Социалки</h2>
        {{>socials}}
    </div>
</section>

<section class="section" id="socials">
    <div class="container">
        <h2 class="section-title">Модалка</h2>
        <a href="#text-modal">Открыть модалку</a>
    </div>
</section>

{{>modal-text id="text-modal"}}

{{/content}}
{{/extend}}