{{#extend "layout"}}
    {{#content "main"}}

        <section class="video">
            <div class="container">
                <div class="video__wrapper">
                    <div class="video__body">
                        <h1 class="video__main-title">Видео</h1>
                        <ul class="video__list">
                            {{#each video }}
                                <li class="video__item">
                                    <a class="video__preview" data-fancybox="video" data-src="https://youtu.be/vio58FKChJc">
                                        <img class="lazyload" data-src="{{this.img}}" alt="Превью видео">
                                    </a>
                                    <h3 class="video__title">{{this.title}}</h3>
                                    <span class="video__time">{{this.time}}</span>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}